<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnPhpunitDeprecations="true"
>
    <php>
        <env name="KERNEL_CLASS" value="\Webfactory\Bundle\WfdMetaBundle\Tests\Fixtures\TestKernel" />
    </php>
    <source ignoreSuppressionOfDeprecations="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="Full test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
