name: Dependencies

on:
    push:
        branches:
            - master
    pull_request:

env:
    PHP_VERSION: 8.3

jobs:
    composer-require-checker:
        name: Check missing composer requirements
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4
            -   name: Konfiguriere PHP-Version und -Einstellungen im Worker-Node
                uses: shivammathur/setup-php@v2
                with:
                  php-version: ${{ env.PHP_VERSION }}
                  coverage: none
                  tools: composer:v2
            -   name: Cache Composer Dependencies
                uses: actions/cache@v4
                with:
                    path: vendor/
                    key: composer-${{ env.PHP_VERSION }}-${{ hashFiles('composer.*') }}
                    restore-keys: |
                        composer-${{ env.PHP_VERSION }}-${{ github.ref }}
                        composer-${{ env.PHP_VERSION }}-
            -   run: |
                    composer install --no-interaction --no-scripts --no-progress --no-suggest
                    # Work around hacky "suggest" dependency vs. checking requirements
                    composer require webfactory/http-cache-bundle
                    composer show
            -   name: ComposerRequireChecker
                uses: docker://ghcr.io/webfactory/composer-require-checker:4.12.0
                with:
                    args: --config-file=.composer-require-checker.json
